/* test */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
}

input[type="file"] {
	cursor: pointer;
}

.custom-file-label {
	overflow: hidden;
}

.sidebar {
	overflow: auto;
}

.login-logo img {
	height: 40px;
}

.brand-text {
	font-size: medium;
}

.info .d-block {
	font-size: small;
}
